.panel{
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.client_opc{
  position: relative;
  margin-left: 25vw;
  align-self: center;
  top: -35px;
}

.client_opc button{
  margin-left: 25px;
}

mat-form-field{
  position: relative;
  top: 15px;
  width: 18vw;
}
