.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.emergente{
  width: 50vw;
  height: auto;
  background-color: yellow;
  position: absolute;
  z-index: 10;
  top: 25%;
  left: 15%;
  border-radius: 5px;
  /*display: none;*/
}

.form_cliente{
  left: 20%;
  width: 350px;
  border-radius: 10px;

}
