<div class="grid-container">
<!--  <h1 class="mat-h1">Clientes</h1>-->
  <mat-grid-list cols="3" rowHeight="17vh">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <div *ngIf="card.title === 'ver_registrar'">
          <app-panel-ver-agregar (seleccionClientEmit)="procesarSeleccionCliente($event)"
                                 (nuevoClientEmit)="mostrarFormNuevoCliente()">
          </app-panel-ver-agregar>
        </div>
        <div *ngIf="card.title === 'estadisticas'">
          <app-panel-estadisticas [compras]="filteredCompras" [cliente]="selectedClient"></app-panel-estadisticas>
        </div>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <app-panel-selec-cliente #componentPanelSeleccion class="emergente"
                           [listaClientes]="filteredClientes"
                           (clientSelectedEmit)="procesarCliente($event)"></app-panel-selec-cliente>

  <app-panel-add-cliente #componentAddCliente class="emergente form_cliente"
                         (nuevoClientEmit)="addNuevoCliente($event)"></app-panel-add-cliente>

  <app-panel-error #componentError class="emergente error"
                   [ngClass]="{'oculto': panelError}"
                   (cerrarErrorEmit)="procesarCerrarError()"></app-panel-error>
</div>
