<div class="contenedor_historial">
  <h3 *ngIf="cliente !== undefined">{{cliente.name + ' ' + cliente.lastName}}</h3>
  <mat-expansion-panel *ngFor="let fecha of fechas">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>monetization_on</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
        {{fecha}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <table class="tabla_historial">
      <tr *ngFor="let compra of compras">
        <td *ngIf="compra.date === fecha">{{compra.producto.name}}</td>
        <td *ngIf="compra.date === fecha">{{compra.producto.wearType}}</td>
        <td *ngIf="compra.date === fecha">{{compra.amount}} x {{compra.producto.price}} €</td>
      </tr>
      <tr>
        <td colspan="3"><hr></td>
      </tr>
      <tr class="total">
        <td colspan="2">Total + IVA</td>
        <td>{{calcularTotal(fecha).toFixed(2)}} €</td>
      </tr>
    </table>

  </mat-expansion-panel>
</div>
<div class="no_clientes" [ngClass]="{'oculto': panelNoClient}">
  <p>No hay clientes seleccionados</p>
</div>
