.tupla_prod_hist{
  display: flex;
  justify-content: space-around;
}
.total{
  position: relative;
  top: 5px;
  color: red;
}

.tabla_historial td{
  padding:  5px 50px;
}

.contenedor_historial{
  height: 60vh;
  overflow: auto;
}

.no_clientes{
  top: -325px;
  font-size: 3em;
  color: #949494;
  text-align: center;
  position: relative;
  z-index: 50;
}
.oculto{
  display: none;
}
