canvas{
  position: relative;
  width: 50%;
  padding-bottom: 25px;
  margin: 0px;

  height: auto;
}
.contenedor{
  align-content: center;
  width: 70vw;
}

@media (max-width: 1450px){
  .contenedor{
    width: 80vw;
  }
}

@media (min-width: 1200px){
  .contenedor{
    width: 70vw;
  }
}
