<div class="container">
  <table>
    <thead>
     <tr>
       <th>ID</th>
       <th>Nombre</th>
       <th>Tipo de prenda</th>
       <th>precio</th>
     </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products" (click)="clickeado(prod)">
        <td>{{prod.id}}</td>
        <td>{{prod.name}}</td>
        <td>{{prod.wearType}}</td>
        <td>{{prod.price}}</td>
      </tr>
    </tbody>
  </table>

</div>
<div class="opciones">
  <button mat-flat-button color="primary">Aceptar</button>
  <button mat-raised-button color="warn">Cancelar</button>
</div>
