<div class="container" [ngClass]="{'oculto':ventanaSeleccion}">
  <table>
    <thead>
     <tr>
       <th>ID</th>
       <th>Nombre</th>
       <th>Tipo de prenda</th>
       <th>precio</th>
     </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products" (click)="clickeado(prod)">
        <td>{{prod.id}}</td>
        <td>{{prod.name}}</td>
        <td>{{prod.wearType}}</td>
        <td>{{prod.price}}</td>
      </tr>
    </tbody>
  </table>

</div>
<div class="opciones" [ngClass]="{'oculto':ventanaSeleccion}">
  <button mat-raised-button color="warn" (click)="ventanaSeleccion=true">Cancelar</button>
</div>

<div class="cantidad" [ngClass]="{'oculto': ventanaCantidad}">
  <p>Especifica cantidad</p>
  <input type="number" #cantidadProd>
  <button mat-flat-button color="primary" (click)="asignarCantidadProd(cantidadProd.value)">Aceptar</button>
  <button mat-raised-button color="warn"(click)="ventanaCantidad=true">Cancelar</button>
</div>
