<div class="grid-container">
  <!--<h1 class="mat-h1">Ventas</h1>-->
  <mat-grid-list cols="6" rowHeight="17vh">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <div *ngIf="card.title === 'search_panel'" class="search_panel">
          <app-search-bar (pistaProductoEmit)="procesarPistaBuscar($event)"></app-search-bar>
        </div>
        <div *ngIf="card.title === 'list_panel'">
          <app-list-panel></app-list-panel>
        </div>
        <div *ngIf="card.title === 'total_panel'">
          <app-total-panel></app-total-panel>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <app-selectionlist #componentLista  class="emergente" [products]="filteredProducts" [ngClass]="{'oculto':panelSeleccion}"></app-selectionlist>

</div>
