.contenedor{
  width: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.contenedor mat-form-field{
  width: 250px;
}
.btns{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.btn button{
  margin: 20px;
}
.oculto{
  display: none;
}
