<div class="contenedor" [ngClass]="{'oculto':ventanaSeleccion}">
  <div class="barra_busqueda">
    <mat-form-field>
      <mat-label>Buscar cliente</mat-label>
      <input matInput matInput type="text" [(ngModel)]="value" (keydown.enter)=filtrarCliente(value)>
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="btn_cancelar_busq()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <table>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Telefono</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cliente of filteredListClient" (click)="seleccionaCliente(cliente)">
      <td>{{cliente.name}}</td>
      <td>{{cliente.lastName}}</td>
      <td>{{cliente.phone}}</td>
    </tr>
    </tbody>
  </table>
  <div class="boton_cancelar">
    <button mat-raised-button color="warn" class="btn" (click)="ventanaSeleccion=true;">Cancelar</button>
  </div>
</div>
