<div class="grid-container">
  <h3 class="titulo">Estadisticas de venta</h3>
  <mat-grid-list cols="3" rowHeight="16.5vh">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
          <div *ngIf="card.title === 'buscarProd'">
            <app-panel-product-selection (seleccionProdEmit)="procesarProductoSelect($event)"></app-panel-product-selection>
          </div>
          <div *ngIf="card.title === 'estadisticasProd'">
            <app-panel-sell-statistics [filteredCompras]="filteredCompras" [productoSelected]="selectedProd"></app-panel-sell-statistics>
          </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<app-panel-seleccion-prod-emergente #panelprodemergente class="emergente"
                                    [listaProductos]="filteredProducts"
                                    (seleccionProdEmit)="procesarProdcuto($event)"
                                    [ngClass]="{'oculto': panelEmergente}" (cerrarPanelEmit)="cerraPanelEmergente()">
</app-panel-seleccion-prod-emergente>
