<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="17vh">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
          <div *ngIf="card.title === 'buscarProd'">
            <app-panel-product-selection (seleccionProdEmit)="procesarProductoSelect($event)"></app-panel-product-selection>
          </div>
          <div *ngIf="card.title === 'estadisticasProd'">
            <app-panel-sell-statistics></app-panel-sell-statistics>
          </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<app-panel-seleccion-prod-emergente class="emergente"></app-panel-seleccion-prod-emergente>
